body {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 50px;
    line-height: 59px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 65px;
    margin-bottom: 85px;
}

img {
     width: 300px;
     margin: 0 20px;
}

h2 {
    font-size: 36px;
    line-height: 42px;
    margin-top: 85px;
    margin-bottom: 0;
}

p {
    font-size: 18px;
    line-height: 21px;
    margin-top: 33px;
}

h3 {
    font-size: 28px;
    line-height: 33px;
    margin-top: 73px;
    margin-bottom: 0;
}

form {
    margin-top: 22px;
    margin-bottom: 164px;
}

input {
    width: 300px;
    height: 80px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-size: 27px;
    line-height: 32px;
    padding: 24px;
    margin: 0 15px;
}

button {
    width: 300px;
    height: 80px;
    background: #727272;
    font-size: 27px;
    line-height: 32px;
    color: #FFFFFF;
    padding: 24px 0;
    margin: 0 15px;
}